GET /library/get_all_books library#get_all_books
POST /library/rent_book library#rent_book
POST /library/add_client library#add_client
POST /library/add_book library#add_book
POST /library/return_book library#return_book
GET /academy/list_trainings academy#list_trainings
POST /academy/add_training academy#add_training
POST /academy/add_user academy#add_user
GET /store/get_all store#get_all
POST /store/add_user store#add_user
POST /store/add_product store#add_product
POST /store/auth store#auth